<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-secondary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">ParkEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Tyre Clinic</a></li>
            <li><a class="dropdown-item" href="#">Battey Hire and Sales </a></li>
            <li><hr class="dropdown-divider"></li>
           
          </ul>
        </li>
       
      </ul>
      
    </div>
  </div>
</nav>
<header class="py-5 text-center bg-secondary bg-opacity-25">
        <div class="container">
            <h1 class="fw-bold">Park ville</h1>
            <p class="lead">Integrated Parking & Vehicle Services Management System 
 
 </p>
        </div>
    </header>