{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registration Form{% endblock %}
{% block navs %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-30">
  <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
    <h2 class="text-center fw-bold text-secondary mb-4">
  ParkEase User Registration
</h2>
<p class="text-center text-muted">
  Create your account to start managing parking, tyre clinic, and battery services
</p>
   
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-secondary w-100 mt-3">Register</button>
    </form>
    <div class="text-center mt-3">
      <p class="mb-0">Already have an account? 
        <a href="{% url 'login' %}" class="text-decoration-none text-success fw-bold">
          Login here
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}